.Log{
    padding-top: 5%;
}
main>img{
    margin-top: 10%;
}
.State{
    margin-top: 20px;
}
.State p{
    font-family: "Roboto";
    font-size: 25pt;
    color: #71C745;
    margin: 0;
    height: 30px;
}
.Bat{
    margin-top: 20%;
}
.Bat .btngreenk{
    background-color: #71C745;
}
.Bat .btnbluek{
    background-color: #2aabd2;
}
button{
    text-align: center;
    margin: 10px auto 0px auto;
    color: white;
    width: 80%;
    font-size: 20pt;
    display: block !important;
}