.Ver{
    padding-top: 50px;
}

.Hed{
    font-size: 80pt;
    color: #9b9b9b;
    font-family: "Roboto";
    font-style: normal;
}

p{
    font-size: 40pt;
    color: #9b9b9b;
    font-family: "Roboto";
    font-weight: 100;
}

.Niz{
    padding-bottom: 50px;
}
.Niz>img{
    margin: 0 auto;
}