html, body{
    margin: 0 auto;
}

.topop{
    margin-top:3%;
}
.abtdemo{

    padding-right: 30%;
padding-top: 20px;
    font-family: "Roboto";
    color: #2b669a  ;
    font-size: 32px;
    font-weight: 700;
}
.meddem{
    font-family: "Roboto";
    color: #9b9b9b;
    font-weight: 500;
}
.zakazk .btn:first-child{
    margin-top: 0;
}
.zakazk .btn:nth-child(3){
    margin-top: 0;
}
.zakazk .btn{

    margin-top: 4%;
    text-align: center;
    font-family: "Roboto";
    color:white;
    font-weight:500;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border: none;
}
.zakazk .btn:hover{
    box-shadow: 1px 1px 5px rgba(4,79,166,0.8);
    border: none;
}
.zakazk .btn p{
    margin:0px;
}

.zakazk p{
    font-family: "Roboto";
}
.zakazk {
    color: #9b9b9b;
    font-weight: 500;
}
.zakazk .first-buket .btnk{
    font-size: 21px;
    text-align: center;
    font-family: "Roboto";
    color:white;
    font-weight:600;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border: none;
    padding: 0 30px 0 30px;


}
.facar{
    margin-right: 40px;
}
/*_______________________________________________________!!!!!_____!!!!!!____________________________________*/

.zakaz p{
    font-family: "Roboto";
}
.zakaz h3, .endu{
    color: #9b9b9b;
    font-weight: 500;
}
.zakaz .btn{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border: none;
}
.zakaz .btn:hover{
    box-shadow: 1px 1px 5px rgba(4,79,166,0.8);
    border: none;
}
.zakaz .btn p{
    margin:0px;
}
.gup {
    margin-top: 10px !important;
    margin-bottom: 30px !important;
}
.gup button{
    display: inline-block;
    width: 24%;
    margin-right: 10px;
}
.gup button:last-child{
    margin-right: 0px;
}
.finish-buket button{
    width: 160px;
}
.finish-buket button:hover{
    background: rgb(255,255,255);
}
.first-buket, .second-buket, .third-buket, .finish-buket {
    margin-top: 5%;
}