@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-regular.ttf");
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-BoldCondensed.ttf");
    font-weight: bold;
    font-stretch: condensed;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-BoldCondensedItalic.ttf");
    font-weight: bold;
    font-style: italic;
    font-stretch: condensed;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-Light.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-LightItalic.ttf");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-Condensed.ttf");
    font-stretch: condensed;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-CondensedItalic.ttf");
    font-stretch: condensed;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-CondensedItalic.ttf");
    font-stretch: condensed;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-Thin.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-ThinItalic.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-ThinItalic.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-Medium.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Hinted/Roboto-MediumItalic.ttf");
    font-weight: 600;
    font-style: italic;
}
    /*src: url("../fonts/Roboto_Hinted/Roboto-Black.ttf");
    src: url("../fonts/Roboto_Hinted/Roboto-BlackItalic.ttf");*/
    /*Don't know like support this font*/

@font-face {
    font-family: "glyphicons";
    src: url("../fonts/glyphicons-halflings-regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "fa";
    src: url("../fonts/font-awesome-4.7.0/fonts/FontAwesome.otf");
}










