.Thead-tb{
    background: rgb(127,211,35);
    box-shadow: 0 0 20px rgba(10,10,10,0.5);
    color: white;
    font-weight: bold;
}

.Thead-tb > tr > td{
    padding-top: 80px !important;
}

.Data_table tbody tr:nth-of-type(even){
    background: rgb(221,221,221);
}

.Data_table tbody tr:hover{
    color: #E39721;
}

.Oglas h3{
    margin: 0;
    float: right;
    padding: 10px;
}

.Oglas{
    padding: 10px 0 10px 0;
}

.Oglas img{
    display: inline-block;

}

.Oglav{
    padding: 10px 0 10px 0;
}


.Oglav img{
    width: 100px;
    height: 100px;
}
@media (max-width: 338px) {
    .Oglas h3{
        float: none;
    }
}

