.container{
}
.graphic{
    float:left;
    padding-top: 45px;
    padding-left: 25px;
}
.frog{
    padding-top: 60px;
}
.hand{
    text-align: center;
}
.hand img{
    margin: 0 auto;
    display: block;
}
.images-1 li{
    display: inline-block;
    margin-left: 120px;
}
.vpay{
    margin-left: 100px;
}
footer img{
    margin: 0 auto;
}
.pleasepresentcard{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Roboto";
    font-size: 65px;
    text-align: center;
}
/*Travelapp*/

.allin{
    background-color: #2b542c;
}
.leapfrog-1{
    text-align: center;
}
.createan{
    text-align: center;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: 900;
    color: #71C745;
}
.inputter .row .form-group{
    display: block;
    width: 100%;
    padding: 0% 10% 0% 10%;
}
.form-group .form-control{
    border-radius: 0;
}
.or{
    color: white;
    font-family: "Roboto";
    text-transform:uppercase;
    text-align: center;
    font-weight: 800;
    margin:0;
}
.buttons-1 .row  {
    margin: 0;
    padding: 0 14% 0 14%;
    width: 100%;
}
.btn{

    width: 100%;
}
.buttons-2 .row  {
    margin: 0;
    display: block;
    padding: 9% 30% 5% 30%;
    width: 100%;
}
.btn{
        margin-top: 5%;
    width: 100%;

}
.row-next .btn{
    background-color: #71C745;
}
.nexti{
color:white;
    text-transform: uppercase;
    font-family: "Roboto";
}
/*Card Detail*/
.cardblue{
    padding-top: 20px;
}
.cardetails{
    color: #71C745;
    font-size: 40px;
    font-family:"Roboto";
    text-align: center;
}
.enteryour{
    font-weight: 100;
    font-size: 20px;
    color: black;
    font-family:"Roboto";
}
.listik{
    margin-top: 10%;
}
.row-2 .btnnexti{
    background-color: #71C745;
}
.listik li{
    padding-bottom: 12px;
    list-style-type:  none;
    font-family:"Roboto";
    font-weight: 700;
    font-size: 20px;
}
/*Conoly station*/
.allout{
    margin-left:70px;
    margin-right:70px;
}
.headconol{
    margin-top: 60px;
}
.conoltxt{
    padding-top:380px;
    padding-bottom:380px;
    text-align:center;
}
.headconol .froggro .groupz{
    padding-top: 20px;
}

.conolystat{
    color: #c3c3c3;
    font-family: Roboto;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}
.timedt{
    color: #464646;
    font-family: Roboto;
    font-size: 79px;
}

/*Conoly station completed*/
.alloutk {
    margin-left: 70px;
    margin-right: 70px;
}
.headconol{
    margin-top: 60px;
}
.conolimag{
    padding-top:300px;
    padding-bottom:230px;
    text-align:center;
}
.headconol .froggro .groupz{
    padding-top: 20px;
}
.conolimag .conolystatk{
    text-align: center;
}

.conolimag {
    padding-top:250px;
    padding-bottom:250px;
    text-align: center;
}
.timedt{
    color: #464646;
    font-family: Roboto;
}
/*big screen menu*/
.bigbtn .row .btnb{
    background-color: gainsboro;
    font-weight: 400;
    font-family:"Roboto";
    margin-top:20px;
    padding: 10% 20% 10% 20%;
 font-size:20pt;
}
.bigbtn .row  .btnb:hover{
    color: white;
    background-color: #4cae4c ;
}
.btnb{
    width: 100%;
}


.publishall .publishdates-1 .publish-1{
    margin-top: 17%;
}
.publish-1 span{
    font-size:20pt;
}
.bigbtn .row  .btnpub .btnpub-1{
    font-weight: 400;
    font-family: "Roboto";
    color: white;
    font-size:25px;
    background-color: #4cae4c;
    width:100%;
    margin-top: 50%;
    padding: 12% 20% 12% 20%;
}
.btnpub{
    width:100%;
    padding: 12% 0% 12% 20%;
}

/*Capture card info*/
.bodyfix{
    background-color: darkslategrey;
    opacity: 2;
}
.tophead{
    background-color: #e0e0e0;
}

.twosigns{
    font-family: "Roboto";
    text-align: center;
    margin-top: 20px;
}
 .capturecard{
    text-align: center;
     }
.allscreen{
    height:100%;
    width:100%;
    padding-top:150px;
    padding-bottom: 150px;
}
.outscreen{
margin: 0 auto;
}

.inscreen {
    background: white;
    position: relative;
    z-index: 4;
    margin: 0 auto;

    border-radius: 1em;
    width: 98%;
    height: 170px;
}
.positunder{
    font-family: "Roboto"; ;
    color: whitesmoke;
    font-size: 10px;
    text-align: center;
}




/* cards */

.upper{
    margin:0;
}
.Vat button{
    color: white;
    width:75%;
    margin: 15px auto 0 auto;
}

.Vat .btngreenks{
    background-color: #71C745;
}
.Vat .btnblueks{
    background-color: #2aabd2;
}
button{
    text-align: center;
    margin: auto auto 0px auto;
    color: white;
    width: 100%;
    font-size: 20px;
    display: block !important;
}
.greycardc{

    margin-left: 12%;
}
.threecards .imgk{
    margin-bottom: 5px;
    top:-13px;
    position: relative;
    z-index: 5;
    margin-left: 15%;
}

.threecards .imgk{

}