nav{
    background: rgb(126,211,33);
    margin-bottom: 0 !important;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.navMenu{
    background: rgb(126,211,33);
}


.navMenu li a{
    color:white;
}

.navbar-toggle{
    margin-top: 18% !important;
    margin-bottom: 0 !important;
}

.navbar-toggle span{
    background: rgb(255, 255, 255);
}

.navbar-brand{
    color: white;
    margin-bottom: 0 !important;
    padding-top: 24% !important;
}

.foto img{
    padding-top: 40% !important;
}

.Tag{
    font-family: "Roboto";
    font-size: 12pt;
    color: #4a4a4a;
}
.infoCard{
    padding-left: 0 !important;
}
.infoCard p{
    font-family: "Roboto";
    font-size: 12pt;
    color: #4a4a4a;
    font-weight: normal;
}

.infoCardFoto{
    padding-left: 0 !important;
}
.infoCardFoto p{

}

.Sell{
    padding-top: 30px !important;
    padding-right: 0!important;
}
.Sell p{
    font-family: "Roboto";
    font-size: 11pt;
    color: #4a4a4a;
    text-align: right;
}

.SellBlue{
    padding-left: 0;
    padding-right: 0!important;
    padding-top: 30px !important;
}

.SellBlue p{
    text-align: right;
    margin: 0;
    font-family: "Roboto";
    font-size: 11pt;
    color: #044FA6;
}
.SellBlue img{
    width: 35px;
    height: 30px;
}

.TagaAd{
    padding-top: 35px !important;
    padding-left: 0 !important;
}

.TagaAd p{
    font-family: "Roboto";
    font-size: 11pt;
    color: #044FA6;
    font-weight: bold;
}

.Taga{
    padding-top: 15px !important;
    padding-left: 0 !important;
}
.Taga p{
    margin: 0;
}

.conTag{
    font-family: "Roboto";
    font-size: 11pt;
    color: #9b9b9b;
}
.SVGcall{
    height: 80px;
    width: 60px;
}

.SCASline{
    width: 60px;
    height: 71px;
}


.IG > div{
    display: inline-block;
}

.GURU > .row > div:first-child{
    height: 70px;
    padding-left: 0 !important;
}

.GURU > .row > .col-xs-9{
    padding-left: 0px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 11pt;
}

.icon{
    height: 80px;
    padding-left: 0 !important;
}

.SCASlineMen{
    width: 60px;
    height: 176px;
}

.Week{
    display: inline-block;
    padding: 0;
}

.Week p{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 11pt;
    color:#044FA6;
    padding: 12px 0;
    margin: 0;
}

.Week img{
    float: left;
}

.Disc > .row .col-xs-5{
    padding-top: 20px;
    padding-left: 0 !important;
}
.Disc > .row .col-xs-7{
    padding: 0 !important;
}


.cost > td{
    font-family: "Roboto";
    font-size: 11pt;
    font-weight: normal;
    color: #4a4a4a;
}

.dis > td{
    font-family: "Roboto";
    font-size: 11pt;
    font-weight: normal;
    color: #4a4a4a;
}

.dis > td:first-child{
    padding-right: 20px;
    text-align: right;
    font-size: 6pt;
}

.sub > td{
    font-family: "Roboto";
    font-size: 11pt;
    font-weight: normal;
    color:  #044FA6;
}

.sub > td:first-child{
    padding-right: 20px;
    text-align: right;
    font-size: 6pt;
}

.IP{
    padding-left: 0 !important;
}
.IP img{
    width: 100px;
    height: 60px;
}

.IP p{
    margin: 0;
    font-size: 8pt;
    font-family: "Roboto";
    font-weight: normal;
    color: #9b9b9b;
}

.Saga{
    padding-left: 0 !important;
    padding-top: 20px;
}

.Saga p:first-child{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 11pt;
    color:#044FA6;
    margin: 0;
}

.Saga p:last-child{
    margin: 0;
    font-size: 11pt;
    font-family: "Roboto";
    font-weight: normal;
    color: #9b9b9b;
}

@media (min-width: 396px) {
    .SCASlineMen{
        width: 60px;
        height: 152px;
    }
}
@media (min-width: 482px) {
    .SCASlineMen{
        width: 60px;
        height: 130px;
    }
}