nav{
    background: rgb(126,211,33);
    margin-bottom: 0 !important;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.navMenu{
    background: rgb(126,211,33);
}


.navMenu li a{
    color:white;
}

.navbar-toggle{
    margin-top: 18% !important;
    margin-bottom: 0 !important;
}

.navbar-toggle span{
    background: rgb(255, 255, 255);
}

.navbar-brand{
    color: white;
    margin-bottom: 0 !important;
    padding-top: 24% !important;
}

.foto img{
   padding-top: 40% !important;
}
/*MAIN__*/
.Nal{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-right: 0!important;
    padding-left: 0!important;
    border-bottom: 1px solid;
}

.CarBal p{
    text-align: right;
    color: #4a4a4a;
    margin: 0;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 19pt;
}
.CarBal p:first-child{
    margin-top: 10px !important;
    color: #9b9b9b;
    font-family: "Roboto";
    font-weight:normal;
    font-size: 11pt;
}

.lepa{
    width:100px;
    height:60px;
}
.Rel{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-right: 0!important;
    padding-left: 0!important;
    border-bottom: 1px solid;
}
.Rel p{
    margin: 0;
    line-height: 34px;
    color: #4a4a4a;
    font-family: "Roboto";
    font-weight:normal;
    font-size: 11pt;
}
.btn-group{
    border: none;
    padding-bottom: 5px;
    overflow: hidden;
}


.gl:last-child:hover .line{
    width:100%;
}
.gl:last-child:focus .line{
    width:100%;
}
.btn{
    border-radius: 0;
}
.gl{
    position: relative;
}
.gl div:first-child{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 32px solid rgb(12,111,49);
    border-left: 14px solid transparent;
    top: 0;
    left: -13px;
}
.gl .ContentButt{
}
.gl div:last-child{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 31px solid rgb(12,111,49);
    border-right: 14px solid transparent;
    top: 0;
    right: -14px;
}
.gl:hover, .gl:focus{
    background: rgb(12,111,49);
}

.gl:hover div:first-child,
.gl:focus div:first-child,
.gl:hover div:last-child,
.gl:focus div:last-child{
    display: block;
    z-index: 999;
}

.gl:last-child:hover div:last-child,
.gl:last-child:focus div:last-child{
    display: none;
}

.gl:first-child:hover div:first-child,
.gl:first-child:focus div:first-child{
    display: none;
}

.gl:hover .line,
.gl:focus .line{
    display: block;
    z-index: 999;
}
.Econom{
    padding-right: 0!important;
    padding-left: 0!important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.Econom p{
    color: #9b9b9b;
    font-family: "Roboto";
    font-weight:normal;
    font-size: 11pt;
}

.euro{
    padding: 0 !important;
}
.euro p{
    color: #4a4a4a;
    font-family: "Roboto";
    font-weight:normal;
    font-size: 11pt;
}
.bank{
    padding-left: 0!important;
    padding-right: 0!important;
}
.bank ul{
    padding-left: 0!important;
    list-style-type: none;
}
.bank ul > li{
    padding-top: 30px !important;
    width:32%;
    display: inline-block;
}

.Tir{
    margin:0 auto !important;
    width: 100%;
}

.trop button{
    margin-top: 20px;
    width: 200px;
}
.btn-success{
    background: rgb(126,211,33);
    border: none;
}
.TOup{
    width:20px;
}

.btn-group-justified > .btn, .btn-group-justified > .btn-group {
    width: 20%;
}

.YY img{
    margin-left: 10px;
}


.switch-light.switch-holo{
    margin-bottom: 0;
}

.switch-toggle.switch-holo, .switch-light.switch-holo > span {
    background: rgb(126,211,33);
    border-radius: 1px;
    box-shadow: none;
    color: #fff;
    text-transform: uppercase;
}
.switch-holo a {
    background: rgb(12,111,49);
    border-radius: 1px;
     box-shadow: none;
}
.switch-holo.switch-light input:checked ~ span a {
    background: rgb(12,111,49);
}
.fb{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 32px solid rgb(12,111,49);
    border-left: 14px solid transparent;
    top: 0;
    left: -14px;
}
.lb{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 32px solid rgb(12,111,49);
    border-right: 14px solid transparent;
    top: 0;
    right: -14px;
}
