nav{
    background: rgb(126,211,33);
    margin-bottom: 0 !important;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.navMenu{
    background: rgb(126,211,33);
}


.navMenu li a{
    color:white;
}

.navbar-toggle{
    margin-top: 18% !important;
    margin-bottom: 0 !important;
}

.navbar-toggle span{
    background: rgb(255, 255, 255);
}

.navbar-brand{
    color: white;
    margin-bottom: 0 !important;
    padding-top: 24% !important;
}

.foto img{
    padding-top: 40% !important
}

.Tag{
    font-family: "Roboto";
    font-size: 12pt;
    color: #4a4a4a;
}
.Taga{
    padding-top: 15px !important;
    padding-left: 0 !important;
}
.Sell  {
    padding-right: 0!important;
    text-align: right;
    padding-top: 30px !important;
}
.TagaG{
    padding-top: 15px !important;
    padding-left: 0 !important;
}
.SellG{
    text-align: right;
    padding-top: 30px !important;
    padding-right: 0!important;
}
.Sell p{
    font-family: "Roboto";
    font-size: 11pt;
    color: #4a4a4a;
}
.SellG p{
    font-family: "Roboto";
    font-size: 11pt;
    color:rgb(126,211,33);
}
.Taga p{
    margin: 0;
}
.TagaG p{
    margin: 0;
    color: rgb(126,211,33);
}

.conTag{
    font-family: "Roboto";
    font-size: 11pt;
    color: #9b9b9b;
}
.SVGcall{
    height: 80px;
    width: 60px;
}

.SCASline{
    width: 60px;
    height: 70px;
}

.SCASlineMen{
    width: 60px;
    height: 76px;
}


.IG > div{
    display: inline-block;
}

.GURU > .row > div:first-child{
    height: 70px;
    padding-left: 0 !important;
}

.GURU > .row > .col-xs-9{
    padding-left: 0px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 11pt;
}

.icon{
    height: 80px;
    padding-left: 0 !important;
}

.Week{
    display: inline-block;
    padding: 0;
}

.Week p{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 11pt;
    color:#044FA6;
    padding: 12px 0;
    margin: 0;
}

.Week img{
    float: left;
}

.Disc > .row .col-xs-5{
    padding-top: 20px;
    padding-left: 0 !important;
}
.Disc > .row .col-xs-7{
    padding: 0 !important;
}


.cost > td{
    font-family: "Roboto";
    font-size: 11pt;
    font-weight: normal;
    color: #4a4a4a;
}

.dis > td{
    font-family: "Roboto";
    font-size: 11pt;
    font-weight: normal;
    color: #4a4a4a;
}

.dis > td:first-child{
    padding-right: 20px;
    text-align: right;
    font-size: 6pt;
}

.sub > td{
    font-family: "Roboto";
    font-size: 11pt;
    font-weight: normal;
    color:  #044FA6;
}

.sub > td:first-child{
    padding-right: 20px;
    text-align: right;
    font-size: 6pt;
}

.Saga{
    padding-left: 0 !important;
    padding-top: 20px;
}

.Saga p:first-child{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 11pt;
    color:#044FA6;
    margin: 0;
}

.Saga p:last-child{
    margin: 0;
    font-size: 11pt;
    font-family: "Roboto";
    font-weight: normal;
    color: #9b9b9b;
}

.infoHead{
    padding: 0 !important;
}
.infoHead p{
    margin: 0;
    font-size: 8pt;
    font-family: "Roboto";
    font-weight: normal;
    color: #9b9b9b;
}

.imgCard{
    height:60px;
    width: 100px;
}

.balCard{
     padding-top: 20px;
     padding-right: 0 !important;
}
.balCardVis {
    padding-left: 0!important;
    padding-right: 0!important;
    text-align: right;
}

.bal{
    padding-left: 20px;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 9pt;
}

.dol{
    padding-left: 20px;
}

.btn-success{
    margin-top: 10px;
    width: 200px;
    display: block;
}

.btn1 p{
    margin: 0;
}

.btn1 p:last-child {
    font-size: 7pt;
}
.acc{
    margin: 0;
    font-size: 11pt;
    font-family: "Roboto";
    font-weight: normal;
    color: #9b9b9b;
}
.abb{
    margin: 0;
    height:30px;
    width: 45px;
}