nav{
    background: rgb(126,211,33);
    margin-bottom: 0 !important;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.navMenu{
    background: rgb(126,211,33);
}


.navMenu li a{
    color:white;
}

.navbar-toggle{
    margin-top: 18% !important;
    margin-bottom: 0 !important;
}

.navbar-toggle span{
    background: rgb(255, 255, 255);
}

.navbar-brand{
    color: white;
    margin-bottom: 0 !important;
    padding-top: 24% !important;
}

.foto img{
    padding-top: 40% !important;
}

.Tag{
    font-family: "Roboto";
    font-size: 12pt;
    color: #4a4a4a;
}
.Taga{
    padding-top: 15px !important;
    padding-left: 0 !important;
}
.Sell{
    padding-top: 30px !important;
    padding-right: 0px !important;
}
.Sell p{
    text-align: right;
    font-family: "Roboto";
    font-size: 11pt;
    color: #4a4a4a;
}
.Taga p{
    margin: 0;
}

.conTag{
    font-family: "Roboto";
    font-size: 11pt;
    color: #9b9b9b;
}
.SVGcall{
    height: 80px;
    width: 60px;
}

.SCASline{
    width: 60px;
    height: 70px;
}


.IG > div{
    display: inline-block;
}

.GURU > .row > div:first-child{
    height: 70px;
    padding-left: 0 !important;
}

.GURU > .row > .col-xs-9{
    padding-left: 0px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 11pt;
}

.icon{
    height: 80px;
    padding-left: 0 !important;
}

